!!! strict
%html

  %head
    %title= "Hedwige"
    != css :main

  %body
    
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => '#'} Hedwige

    #app.container
      #stage


    / templates

    %script#template-stage{:type => "text/template"}
      #title.row
        .span12
          %h1 <%= title %>

      #content.row

        #picture.span6
          %img{:src => 'http://placehold.it/640x480'}

        #content.span6
          #text
            <% var converter = new Showdown.converter() %>
            <%= converter.makeHtml(text) %>
          <% if (typeof(forms) != "undefined") { %>
          %form.form-horizontal
            %fieldsets
              .control-group
                %label.control-label
                  <%= forms[0].label %>
                .controls
                  <% if (forms[0].type == "radio") { %>
                  <% _.each(forms[0].choices, function(choice) { %>
                  %label.radio
                    %input{:type => 'radio', :name => '<%= forms[0].id %>', :id => '<%= choice %>'} <%= choice %>
                  <% }) %>
                  <% } %>
          <% } %>

      .row
        .span12
          .btn-toolbar
            #button-previous.btn.btn-large.pull-left
              %i.icon-hand-left
              = "Étape précédente"
            #button-next.btn.btn-large.btn-primary.pull-right
              %i.icon-hand-right.icon-white
              = "Étape suivante"

      #faqs

    %script#template-faqs{:type => "text/template"}
      .row
        .span12
          %h2= "Questions fréquentes"

      .row
        .span6
          %ul.nav.nav-list
            <% _.each(faqs, function(faq, index) { %>
            %li
              %a{:href => '#', :'data-index' => '<%= index %>'} <%= faq.question %>
            <% }) %>
                  
        #faq-answer.span6

    %script

    != js :main